<div class="closet-main">

  <div class="closet-title">
   <%= @user.nickname %>さんのクローゼット
  </div>

  <div class="add-btn">
    <% if current_user.id == @user.id %>
      <%= link_to 'アイテムを追加する', new_item_path,  class: "add-items" %>
    <% end %>
  </div>

  <div class="items">
    <% @items.each do |item| %>
    <div class="item-container">
      <li class="item">
        <p><%= item.name %></p>
        <%= image_tag item.image, class:"closet-image" %>
      </li>
      <% if current_user.id == item.user.id %>
        <div class="destroy-button">
          <%= link_to item_path(item.id), method: :delete, data: { confirm: "削除しますか？" }, class:'item-destroy' do %>
            <span class="fa fa-trash-o"></span>
          <% end %>
        </div>
      <%end%>
    </div>
    <% end %>
  </div>

</div>