<div class="session">
  <h1 class="session-title">Log in</h1>
  <h4 class="session-sub-title">登録しているユーザーでログイン</h4>
  <%= form_with model: @user, url:user_session_path, local: true do |f|%>
  <div>
    <%= f.label :email%>
  </div>  
  <div>
    <%= f.email_field :email, class:"input-email"%>
  </div>
  <div>
    <%= f.label :password%><i>(英数字6文字以上)</i>
  </div>
  <div>
    <%= f.password_field :password, class:"input-password"%>
  </div>
  <div class="login-btn">
    <%= f.submit "Log in", class:"btn"%>
  </div>
  <% end %>
</div>