<div class="add-item-main">
  <h1 class="add-item-title">アイテムを追加</h1>
  <%= form_with model:@item, url: items_path, method: :post, local: true do |form| %>
    <div>
      <%= form.label :アイテム名 %><p>※必須</p>
      <%= form.text_field :name, class:"input-item" %>
    </div>

    <div>
      <%= form.label :画像 %><p>※必須</p>
      <%= form.file_field :image %>
    </div>

    <div class="item-submit">
      <%= form.submit '送信する', class:"item-submit-btn" %>
    </div>
  <% end %>
</div>