<div class="main">
  <div class="title-container">
    <h2>服で繋がろう<h2>
  </div>

  <div class="post-container">
    <div class="post-title">
     <p>みんなのコーディネート相談</p>
    </div>
    <div class="posts">
     <% @posts.each do |post| %>
      <li class="post">
       <p><%= post.user.nickname %></p>
       <%= link_to post_path(post.id) do %>
       <p>件名：<%= post.title %></p>
       <% post.images.each do |image| %>
         <%= image_tag(image.variant(resize:'500x300')) %>
       <% end %>
       <%end%>
       <% if user_signed_in? && current_user.id == post.user.id %>
       <%= link_to '削除', post_path(post.id), method: :delete, data: { confirm: "削除しますか？" }, class:'post-destroy' %>
       <%end%>
      </li>
     <% end %>
    </div>
    
  </div>

  
</div>