<div class="add-post-main">
 <div class="sub-container">
  <h1 class="add-post-title">相談内容を入力</h1>

  <%= form_with model: @post do |form| %>
    <div class="add-title">
      <%= form.label :件名 %> <a>※必須</a>
      <%= form.text_field :title, class:"input-title", placeholder:"例：コーディネートで悩んでいます" %>
    </div>

    <div class="add-text">
      <%= form.label :相談内容 %> <a>※必須</a>
      <%= form.text_area :text, class:"input-text" %>
    </div>

    <div class="add-images">
      <%= form.label :画像 %>
      <%= form.file_field :images, class:"add-post-images", multiple: true %>
    </div>

    <div class="add-images">
      <%= form.label :画像 %>
      <%= form.file_field :images, class:"add-post-images", multiple: true %>
    </div>

    <div class="post-submit">
      <%= form.submit '送信する', class:"post-submit-btn" %>
    </div>
  <% end %>
 </div>
</div>