<div class="post-details">
  <div class="post-show">
   <p><%= link_to @post.user.nickname, user_path(@post.user.id) %>さんのクローゼットを見にいく</p>
   <p>件名：<%= @post.title %></p>
   <% @post.images.each do |image| %>
    <%= image_tag(image.variant(resize:'500x300')) %>      
   <% end %>
   <p>相談内容：<%= @post.text %></p>
  </div> 
</div>

<div class="edit-btn">
 <% if user_signed_in? && current_user.id == @post.user.id %>
  <%= link_to '編集する', edit_post_path(@post.id), class:'post-edit' %>
 <%end%>
</div>

<div class="comment-container">
    <div class="comment-form">
     <% if current_user %>
       <%= form_with(model: [@post, @comment], local: true) do |form| %>
         <%= form.text_area :comment, placeholder: "コメントする" %>
         <%= form.submit "SEND" %>
       <% end %>
     <% else %>
       <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
       </strong>
     <% end %>
    </div>
    <div class="comments">
      <h3>＜コメント一覧＞</h3>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p class="comment">
            <strong><%= comment.user.nickname %>：</strong>
            <%= comment.comment %>
          </p>
        <% end %>
      <% end %>
    </div>
</div>

